body {
    background-image: url(blogback.jpg);
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#header {
    background-color: lightyellow;
    height: 115px;
    width: 100%;
    opacity: 0.65;
    margin:0;
    position:absolute;
}

#home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategrey;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 24px;
}

.anchor {
    text-decoration: none;
    color: black;
}

#myblog {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 48px;
    margin-left: 30px;
    margin-top:30px;
}

#articlelist {
    float: left;
    margin-top:115px;
    width: 25%;
    background-color: lightblue;
    
    opacity: 0.5;
}

#content {


    
    margin-top:115px;
    background-color: azure;
    margin-left: 25%;
    width: 75%;
    
    opacity: 0.38;
}